name: Publish npm package
on:
  release:
    types: [created]
  workflow_dispatch:
    inputs:
      prerelease:
        description: 'Publish as prerelease (adds --tag next)'
        required: false
        type: boolean
        default: false
env:
  rootDir: ./packages/nextjs-cache-handler
jobs:
  publish-npm:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ env.rootDir }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Copy README file to package directory
        run: |
          cp ../../README.md .
      - uses: actions/setup-node@v4
        with:
          cache: npm
          node-version: lts/*
          cache-dependency-path: ${{ env.rootDir }}/package-lock.json
          registry-url: "https://registry.npmjs.org"
      - run: npm ci
      - name: Publish to npm
        run: |
          if [ "${{ github.event.inputs.prerelease }}" == "true" ]; then
            npm publish --access public --tag next
          else
            npm publish --access public
          fi
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
